/**
 * $FONT-FACE
 */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400');
@import url('http://fonts.googleapis.com/css?family=Rokkitt:400,700');

/**
 * $BASE-TYPOGRAPHY
 */
@include establish-baseline;
 
body {
	font-family:$open-sans;
	font-weight:300;
	color: $grey-dark;
	}

/**
 * $LINKS
 */
a {
	//color:#4197B4;
    @include link-colors($blue-dark, $blue-mid, $blue-dark, $blue-dark);
}



/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta,
.field--name-field-subtitle {
  @include rhythm(0, 0.5, 0.5, 0.4);
  color: $blue-dark;
  text-transform: uppercase;
  font-family: $rokkitt;	
}

h1, .alpha {
  @include adjust-font-size-to(22px);
  @include adjust-leading-to(1,22px);
  font-weight: 500;
}
body.front h1, body.front .alpha {
  @include adjust-font-size-to(36px);
  @include adjust-leading-to(1);

  @include trailing-border(0px, 0.2, 36px);
} 

h2, .beta, .field--name-field-subtitle {
  @include adjust-font-size-to(22px);
  @include adjust-leading-to(1);
  @include rhythm(0,0.1,0.1,0.3);
  font-weight: 300;
}
h3, .gamma {
  @include adjust-font-size-to(21px);
  @include adjust-leading-to(1,21px);
  @include rhythm(0,0.5,0,0.3);
  
  //Colors
  color:#000000;
  
  //Font Styling
  text-transform:none;
}
h4, .delta {
  @include adjust-font-size-to(18px);
}
h5, .epsilon{
  @include adjust-font-size-to(16px);
  font-weight: 500;
}
h6, .zeta {
  @include adjust-font-size-to(16px);
}

/**
 * $PARAGRAPHS
 */
p,
%p {
  margin: 0;
  @include rhythm(0, 0, 0, 0.5);
}
p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}



/**
 * $QUOTES
 */
blockquote {
  @extend %p;
  @include rhythm(0, 1, 1, 1);
  padding: 0 1.5em;

  @include rhythm-borders(1px);
  @include apply-side-rhythm-border(left, 10px);
  font-style: italic;
  color: $blue-dark;

  p {
    margin: 0;
  }
}

q {
  font-style: italic;
}

/**
 * $MARKS
 */
mark,
.marker {
  padding: 0.1em 0.5em;

  background: $blue-light;

  color: #FFF;
  @include adjust-font-size-to(12px);
  text-transform: capitalize;

  @include border-radius(10px);
}
