//Defaults
$pale-blue  : #d9e9ef;
$light-blue : #b3d6e1;
$mid-blue   : #68adc4;
$dark-blue  : #4197B4;

$orange     : #e4621c;
$pale-orange: #efa47b;

$green      : #4a993e;

//$red        : #b33630;

$yellow     : #d6c460;

$lightest-grey : #f6f6f6;
$lighter-grey : #bebebe;
$light-grey : #ddd;
$grey : #cccccc;
$mid-grey   : #6a7076;
$dark-grey  : #222222;


// Section Colours 


// Section Colours 

$blue-light: #b3d6e1;
$blue-mid: #68adc4;
$blue-dark:#4197B4;

$grey-light: #a2acab;
$grey-dark: #585858;

$green: 		#88a80d;
$green-dark: 	#56800d;
$purple: 		#4e267f; 
$purple-dark: 	#351554;
$navy: 			#002987; 
$navy-dark: 	#1c2e52;
$yellow: 		#f3d425; 
$yellow-dark: 	#f8ac06;
$blue: 			#1684bb; 
$red: 			#e2041f;

//


