// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 24px;
$horz-spacing-unit: 24px;

$tab: 44em;
$desk: 70em;
$mini-tab:706px 880px;

$grids: 4;
$grids: add-grid(12 at $tab);
$grids: add-grid(18 at $desk);

$gutters: 1/3;

$max-width: 1200px;