@import "compass/typography/vertical_rhythm";

$open-sans    : 'Open Sans', Arial, sans-serif;
$rokkitt    : 'Rokkitt', Museo Slab, Arial, sans-serif;

$base-font-size: 16px;
$base-line-height: 22px;
