/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "../../partials/utility";

///////////////////////////////////////////////////////////
//// Variables in partials/utitity/variables/_grid.scss
///////////////////////////////////////////////////////////

//
// $vert-spacing-unit: 18px;
// $horz-spacing-unit: 1em;
// 
// $tab: 44em;
// $desk: 70em;
// 
// $grids: 4;
// $grids: add-grid(12 at $tab);
// $grids: add-grid(16 at $desk);
// 
// $gutters: 1/3;

$debug-grid:true;

body {
  background: transparent image-url('diagonal.png') left top repeat;
}

.l-constrained {
  width: 95%;
  margin: 0 auto;
  //@include pie-clearfix;
}

.l-container {
	max-width: $max-width;
	margin: 0 auto;
	//margin-top:$vert-spacing-unit;
	@include clearfix;
	@include breakpoint($tab) {
		//position: relative;		
	}
}

.wrapper {
}

///////////////////////////////////////////////////////////
//
// HEADER
//
///////////////////////////////////////////////////////////

.l-header-wrap {
	@include clearfix;
}

.l-header {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(7,6);
	}
	@include breakpoint($desk) {
		@include grid-span(11,8);
	}
}

///////////////////////////////////////////////////////////
//// BRANDING
///////////////////////////////////////////////////////////


.l-branding {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(5,1);
	}
	@include breakpoint($desk) {
		@include grid-span(7,1);
	}
}



///////////////////////////////////////////////////////////
//// NAV
///////////////////////////////////////////////////////////


.l-navigation {
	@include grid-span(4,1);
	
	@include breakpoint($tab) {
		@include grid-span(12,1);
		//margin-top:-100px;
		//position: absolute;
		//bottom:0;
	}
	@include breakpoint($desk) {
		@include grid-span(18,1);
		//margin-top:-100px;
	}
}

///////////////////////////////////////////////////////////
//
// TITLEBAR
//
///////////////////////////////////////////////////////////


.l-titlebar-wrap {
	//@include grid-background;
	//clear:right;
	
}

.l-titlebox {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(8,1);
		min-height:$vert-spacing-unit * 5;
	}
	@include breakpoint($desk) {
		@include grid-span(12,1);
	}
}

.l-ctabox {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(4,9);
		min-height:$vert-spacing-unit * 5;
	}
	@include breakpoint($desk) {
		@include grid-span(6,13);
	}
}

///////////////////////////////////////////////////////////
//
// MAIN CONTENT
//
///////////////////////////////////////////////////////////

.l-content {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(8,1);
		min-height:$vert-spacing-unit * 5;
	}
	@include breakpoint($desk) {
		@include grid-span(12,1);
	}
}


.l-sidebar-first {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(4,9);
		min-height:$vert-spacing-unit * 5;
	}
	@include breakpoint($desk) {
		@include grid-span(6,13);
	}
}

///////////////////////////////////////////////////////////
//
//  PREFIX FOOTER
//
///////////////////////////////////////////////////////////

.l-footer-prefix-first {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(4,1);
		min-height:$vert-spacing-unit * 5;
	}
	@include breakpoint($desk) {
		@include grid-span(6,1);
	}
}

.l-footer-prefix-second {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(4,5);
		min-height:$vert-spacing-unit * 5;
	}
	@include breakpoint($desk) {
		@include grid-span(6,7);
	}
}

.l-footer-prefix-third {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(4,9);
		min-height:$vert-spacing-unit * 5;
	}
	@include breakpoint($desk) {
		@include grid-span(6,13);
	}
}

///////////////////////////////////////////////////////////
//
// FOOTER
//
///////////////////////////////////////////////////////////

.l-footer {
	@include clearfix;
}

.l-footer-first {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(4,1);
		min-height:$vert-spacing-unit * 5;
	}
	@include breakpoint($desk) {
		@include grid-span(6,2);
	}
}

.l-footer-second {
	@include grid-span(4,1);
	@include breakpoint($tab) {
		@include grid-span(8,5);
		min-height:$vert-spacing-unit * 5;
	}
	@include breakpoint($desk) {
		@include grid-span(10, 9);
	}
}
