.l-branding a {
	max-width:100%;
	min-width:100%;	
}

.l-branding img {
	margin-bottom:$vert-spacing-unit/6;
	padding:0 $vert-spacing-unit*2;

	
	//Margin around logo for $tab.
	@include breakpoint($tab,true) {
		margin:0;
		padding:$vert-spacing-unit;
	}
	//Margin around logo for $desk.
	@include breakpoint($desk,true) {
		padding:$vert-spacing-unit;
	}
}

.l-branding a.button {
	
}

.l-header-wrap .l-container {
	//padding:$vert-spacing-unit/2;
}

