/*
*	Footer Layout Tweaks
*	Tweaking footer layouts to allow absolute positioning of blocks so they 
*	can be aligned to the bottom edge.  The logo in .l-footer-first sets 
*	the height of .l-footer
*
*	Wrapper: .l-footer
*	Left:	.l-foooter-first
*	Right:	.l-footer-right
*/


//Wrapper
.l-footer {
	position:relative;
}

//Footer Right for $tab and up.
@include breakpoint($tab,true){
	.l-footer-second {
		//Position
		position:absolute;
		bottom:0;
	
		//Reposition inner container
		.l-region {
			position: relative;
			
			//Position blocks absolute to align to bottom edge.
			.block {
				position:absolute;
				bottom:0;
			}
			
			//Shift social icons right
			.block-social-icons {
				right:10%;
				//@extend .had-nopad;
			}
		}
	}
}



