/*
*	Header Layout Tweaks
*	Positioning of navigation menu ul is absolute and aligned to the bottom of .l-navigation,
*	which is positioned relatively within .l-header-right.  .l-header-right is 
*	positioned absolutely to its parent .l-container.  The height of .l-container 
*	is determined by the site logo.
*
*	Header to be positioned absolutely and overlayed on top of the banner slideshow on 
*	frontpage only.
*
*	Wrapping Element: .l-header-wrap
*	Left Container: 	.l-branding
*	Right container: .l-header-right
*/


//Front page header wrap.
body.front .l-header-wrap {
	//Position
	position:absolute;
	top:0;
	margin:0 auto;
	z-index:10;
	
	//Box Styling
	width:100%;
	
	//Adjust background color
	background:darken($blue-dark,25%);
	background:rgba(darken($blue-dark,25%),0.8);
	
	@include breakpoint($tab,true){
	
	//Position
	top:$vert-spacing-unit/2;
	
	}
	
}


//Header Wrapper
.l-header-wrap {

	
	//Colors
	background:darken($blue-dark,25%);
	background:rgba(darken($blue-dark,25%),0.8);
	
	

	.l-header-right {
		
		//Align text & inline-blocks right.
		text-align: right;
	
	}
	
	.l-container {
		position:relative;
	
		.l-navigation {
			position: absolute;
			
			
			@include breakpoint($tab,true) {
				bottom: $vert-spacing-unit/1.35 !important;
				right: $vert-spacing-unit/1.5;
			}
			
			@include breakpoint($desk,true) {
			
				bottom: $vert-spacing-unit/1.4 !important;
				right: $vert-spacing-unit/1.1;

			}
		}	

	}
}

.l-header {
	@include rhythm(0.5,0,0.5,0);
}

//
// Position
// 

