//Mobile Padding
.l-container {
	
	padding:0 $vert-spacing-unit/2;
}

.l-constrained {
  width: 98%;
}

.l-main-wrap .l-container, .l-footer-wrap .l-container, .l-footer-strapline-wrap .l-container {

	//Spacing
	@include rhythm(0,1,1,0);
	@include apply-side-rhythm-border(left,0px,1.5);
	@include apply-side-rhythm-border(right,0px,1);
	
	//Increase padding on main content area for tablets & above
	@include breakpoint($tab,true) {

	}
}

.l-header-wrap .l-container {
	padding-bottom:0;
}


.l-header-second {
	//Hide tweaking button on non-front pages for mobile
	display:none;
	
	@include breakpoint($tab,true) {
		display:block;
	}
}

.l-footer-wrap .l-container, .l-footer-strapline-wrap .l-container {
	@include rhythm(0,0,0,0);
	
	@include breakpoint($tab,true){
		@include rhythm(0,1,1,0);
	}
}