// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

$tab: 44em;
$desk: 70em;

$grids: 4;
$grids: add-grid(12 at $tab);
$grids: add-grid(18 at $desk);

$gutters: 1/3;

$max-width: 1200px;