.l-prefix-wrap .l-container {
	padding-top:$vert-spacing-unit*1.20;
}


a.quicklink {
	display:block;
	
	//Colors
	background:white;
	
	text-decoration: none;
	text-align: center;
	@include border-radius(5px);
	
	//Quicklink Title
	.quicklink-title {
		display:block;
	
		//Font styling
		font-family:$rokkitt;
		text-transform:uppercase;
	
		//Font sizing
		@include adjust-font-size-to(24px);
		@include adjust-leading-to(0.8,24px);
		
		//Colors
		color:#ffffff;
		background:$blue-mid;
		@include background-image(linear-gradient($blue-mid, $blue-dark));
	
		//Spacing 
		@include rhythm(0,0.5,0.5,0);
		@include apply-side-rhythm-border(left,0px,0.5);
		@include apply-side-rhythm-border(right,0px,0.5);

		//Box Styling
		@include border-top-left-radius(5px);
		@include border-top-right-radius(5px);
	}	
	
	//Quicklink image
	.quicklink-image {
		img {
			max-width: 100%;
			min-width: 100%;
		}
	}
	
	//Quicklink image
	.quicklink-text {
		//Box Styling
		display:block;
	
		//Spacing 
		@include rhythm(0,1,1,0);
		@include apply-side-rhythm-border(left,0px,1);
		@include apply-side-rhythm-border(right,0px,1);		
		
		//Font sizing
		@include adjust-font-size-to(14px);
		@include adjust-leading-to(1,14px);

		//Colors
		color:$grey-dark;
	}	
	
	//TABLET
	@include breakpoint($tab,true) {
		
		text-align:left;//Align text left

				
	}
	
	
	//DESKTOP
	@include breakpoint($desk,true) {
		
		
	}
	
		
}

a.quicklink:hover {
	background:rgba($blue-light,0.3);
}