/**
 * $FORM-ITEM
 */
.form-item {
  color: $mid-grey;

  label {
    margin-bottom: 0.4em;
  }
  .form-select,
  .form-text,
  .form-textarea {
    width: 100%;
    padding: 0.4em 0.6em;
    background-color: #FFF;
    border: 1px solid $light-grey;
    color: $mid-grey;
    vertical-align: middle;
    @include adjust-font-size-to(13px);
    
  }
  .description {
    margin-top: 0.2em;
    font-style: italic;
  }
}

.container-inline {
  .form-select,
  .form-text,
  .form-textarea {
    width: auto;
  }
}

select,
input,
textarea {
  &:focus {
    @include box-shadow(0 0 4px 1px rgba(lighten($orange, 15%), 0.3));
    border: 1px solid lighten($orange, 15%);
    color:#000000;
  }
}
