/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "../../partials/utility";

///////////////////////////////////////////////////////////
//// Variables in partials/utitity/variables/_grid.scss
///////////////////////////////////////////////////////////

//
// $vert-spacing-unit: 18px;
// $horz-spacing-unit: 1em;
// 
// $tab: 44em;
// $desk: 70em;
// 
// $grids: 4;
// $grids: add-grid(12 at $tab);
// $grids: add-grid(16 at $desk);
// 
// $gutters: 1/3;

$debug-grid:false;

body {
  background: transparent image-url('diagonal.png') left top repeat;
}

.l-constrained {
  width: 95%;
  margin: 0 auto;
  //@include pie-clearfix;
}

.l-container {
	max-width: $max-width;
	margin: 0 auto;
	//margin-top:$vert-spacing-unit;
	@include clearfix;
	@include breakpoint($tab,true) {
		//position: relative;		
	}
	
}

.l-container.l-container-overwidth {
	max-width:1300px;
	padding:0;
}

.wrapper {
}

///////////////////////////////////////////////////////////
//
// HEADER
//
///////////////////////////////////////////////////////////

.l-header-wrap {
	@include clearfix;
}

.l-header-right {
	@include grid-background;
	@include grid-span(4,1);
	@include breakpoint($tab,true) {
		@include grid-span(12,1);
	}
	@include breakpoint($desk,true) {
		@include grid-span(13,6);
	}
}

.l-header {
	//Within .l-header-right
}

///////////////////////////////////////////////////////////
//// BRANDING
///////////////////////////////////////////////////////////


.l-branding {
	@include grid-span(4,1,$output-style:'float');
	@include breakpoint($tab,true) {
		@include grid-span(3,1);
	}
	@include breakpoint($desk,true) {
		@include grid-span(4,1);
	}
}

///////////////////////////////////////////////////////////
//// BANNER
///////////////////////////////////////////////////////////


/*
.l-banner {
	@include grid-span(4,1);
	@include breakpoint($tab,true) {
		@include grid-span(12,1,$output-style:'float');
	}
	@include breakpoint($desk,true) {
		@include grid-span(18,1,$output-style:'float');
	}
}
*/



///////////////////////////////////////////////////////////
//// NAV
///////////////////////////////////////////////////////////


.l-navigation {
	//Within .l-header-right
}

///////////////////////////////////////////////////////////
//
// MAIN CONTENT
//
///////////////////////////////////////////////////////////

.l-content {
	@include grid-span(4,1);
	@include breakpoint($tab,true) {
		@include grid-span(8,1);
	}
	@include breakpoint($desk,true) {
		@include grid-span(12,1);
	}
}


.l-sidebar-first {
	@include grid-span(4,1);
	@include breakpoint($tab,true) {
		@include grid-span(4,9);
	}
	@include breakpoint($desk,true) {
		@include grid-span(6,13);
	}
}


///////////////////////////////////////////////////////////
//
//  PREFIX
//
///////////////////////////////////////////////////////////

.l-prefix-first {
	@include grid-span(4,1);
	@include breakpoint($tab,true) {
		@include grid-span(4,1);
	}
	@include breakpoint($desk,true) {
		@include grid-span(6,1);
	}
}

.l-prefix-second {
	@include grid-span(4,1);
	@include breakpoint($tab,true) {
		@include grid-span(4,5);
	}
	@include breakpoint($desk,true) {
		@include grid-span(6,7);
	}
}

.l-prefix-third {
	@include grid-span(4,1);
	@include breakpoint($tab,true) {
		@include grid-span(4,9);
	}
	@include breakpoint($desk,true) {
		@include grid-span(6,13);
	}
}


///////////////////////////////////////////////////////////
//
// TITLEBOX
//
///////////////////////////////////////////////////////////

.l-titlebox.l-has-sidebar {
	@include grid-span(4,1);
	@include breakpoint ($tab,true) {
		@include grid-span(8,1);
	}
	@include breakpoint ($desk,true) {
		@include grid-span(12,1);
	}
}


.l-titlebox-right {
	@include grid-span(4,1);
	@include breakpoint ($tab,true) {
		@include grid-span(4,9);
	}
	@include breakpoint ($desk,true) {
		@include grid-span(6,13);
	}
}

///////////////////////////////////////////////////////////
//
// FOOTER
//
///////////////////////////////////////////////////////////

.l-footer {
	@include clearfix;
}

.l-footer-first {
	@include grid-span(4,1);
	@include breakpoint($tab,true) {
		@include grid-span(3,1);
	}
	@include breakpoint($desk,true) {
		@include grid-span(4,1);
	}
}

.l-footer-second {
	@include grid-span(4,1);
	@include breakpoint($tab,true) {
		@include grid-span(8,4);
	}
	@include breakpoint($desk,true) {
		@include grid-span(10, 5);
	}
}
