/*
*	Single Level Superfish Responsive
*	A single level superfish menu. Uses the superfish module and placed as a block.
*
*	Block class: .sf-resp-singlelevel-drop
*	UL Class:	.sf-main-menu.sf-style-none
*/


//Block
.sf-resp-singlelevel-drop {
	@include clearfix;
	
	//Float menu right
	.block__content {
		float:right;
	
		
	}
	
	//UL
	.sf-main-menu.sf-style-none {
		
		//Top Level link
		a {
			display: block;
			
			//Font Family, Size & Style
			font-family:$rokkitt;
			@include adjust-font-size-to(15px);
			@include adjust-leading-to(1,15px);
			text-transform: uppercase;
			
			@include breakpoint($desk,true) {
				@include adjust-font-size-to(17px);
				@include adjust-leading-to(1,17px);
			} 
			
			//Top level color
			color:$blue-mid;
			text-decoration:none;
			
			//Top Level Link Spacing
			@include rhythm(0,0.3,0,0);
			@include apply-side-rhythm-border(left,0px,0);
			@include apply-side-rhythm-border(right,0px,0);
			margin-right:$vert-spacing-unit;
		
			//Dropdown indicator
			.sf-sub-indicator {
				right:0;
			}
			
			//Hide indicators
			i {
				display: none;
				@include apply-side-rhythm-border(left,0px,0.3);
				@include adjust-leading-to(1,17px);
				@include adjust-font-size-to(17px);
				line-height: 1em;
			}
			
		}
		a:hover {
			color:$blue-light;
		}
		
		
		//Top level link with children
		a.menuparent {
			i {
				display:inline-block;
			}
		}
		
		
		
		//Top Level link Hover
		li.sfHover {
		
			a.menuparent {
				color:#ffffff;
			}
			a {
				color:#ffffff;
			}
			//Added a span wrapping link content to provide button border. 
			ul {
				@include leading-border(8px,0.4);
				border-color:$blue-light;
			}
	}
		
		//Last top level
		li.last.sf-depth-1 {
			a {
				margin-right:0;
			}
		}
		
		li#menu-664-1 ul {
			right:0 !important;
		}
		
		
		//UL Second Level
		ul {
			//Don't display by default for mobiles to avoid flash.
			display: none;
			
			//Show for tablets and above by default
//			@include breakpoint($tab,true){display:block;}
			
			//Position
			top:2.1em;
			
			//Colors
			background:$blue-mid;
			
			//Side padding
			@include apply-side-rhythm-border(left,0px,0);
			@include apply-side-rhythm-border(right,0px,0);
			a {
				//Second level color
				color:#ffffff;
			
				//Font Family, Size & Style
				font-family:$open-sans;
				@include adjust-font-size-to(14px);
				text-transform: none;

				//Top Level Link Spacing
				@include rhythm(0,0.3,0.3,0);
				@include apply-side-rhythm-border(left,0px,0.5);
				@include apply-side-rhythm-border(right,0px,0.5);
				margin-right:0;
			}
			a:hover {
				//Second level hover
				color:#ffffff;
				background:$blue-dark;
			}
		}
	}
	
}