/*
*	Superfish Smallscreen
*	Styling for superfish accordion (mobile menu).
*
*	Wrapping Div: 	.l-header-wrap
*	Parent Div:		.l-navigation
*	Block Class:	.sf-resp-singlelevel-drop
*	UL ID:			#superfish-1-accordion
*	UL Class:		.sf-menu.sf-accordion	
*/

.l-navigation {
	min-height:50px;

	@include breakpoint($tab,true) {
		
			min-height:0;
		
	}
}

.sf-resp-singlelevel-drop {
	display:inline-block;
	
	//Position
	position:absolute;
	left:0;
	top:0;
	z-index: 1;
	
	//
	@include breakpoint($tab,true) {
		display:block;
		position: relative;
	}
}

.l-region--navigation {
	position: relative;
}


//Hide accordion via CSS to avoid flash before js executes.
ul.sf-menu.sf-main-menu.sf-horizontal {
	display:none;
	
	@include breakpoint($tab,true){display:block;}
}

div.sf-accordion-toggle {
	//width:50%;
}

#superfish-1-toggle {
	width:100%;
}


.l-header-wrap .l-container {
	padding-top:60px;
	
	@include breakpoint($tab,true) {
		padding-top:0;
	}
}

//Absolute position .l-navigation for mobiles.
.l-header-wrap .l-container .l-navigation {
	position:absolute;
	top:0;
	bottom:auto;
	left:0;
	width:100%;
	z-index:100;
	background:$blue-mid;
	
	//Reset to relative position for tablets
	@include breakpoint($tab,true) {
		background:transparent;
		top:auto;
		bottom: $vert-spacing-unit/2;
		left:auto;
		
	}
}

.sf-resp-singlelevel-drop .block__content {
	float:left;
	margin-left:0;
	
	@include breakpoint($tab,true) {
		float:right;
	}
}

//Pad out top of header
.l-header-wrap {
	@include rhythm(0,0,0,0);
	
	//Reset padding for tablets & above
	@include breakpoint($tab,true) {
		@include rhythm(0,0.5,0,0);
	}
}

/*
*	Superfish Small Screen
*	Styling for responsive superfish menu on small screens.
*
*	UL ID: 			#superfish-1-accordion
*   UL Class: 		.sf-accordion
*   Toggle button:	.sf-accordion-toggle
*/

// TOGGLE BUTTON
div.sf-accordion-toggle.sf-style-none a {}
div.sf-accordion-toggle.sf-style-none {
	a {
		display: block;	
		background:transparent;
		border:none;
		@include rhythm(0,0.6,0.7,0);
		@include adjust-font-size-to(15px);
		@include adjust-leading-to(1,15px);
		text-decoration: none;
		color:#ffffff;
		@include apply-side-rhythm-border(left,0px,0.5,15px);
		@include apply-side-rhythm-border(right,0px,0.5,15px);
		font-family:$rokkitt;
	}
	a:hover {
		text-decoration: none;
		
	}
	a.sf-expanded {
		background:transparent;
		font-weight:300;
	}
}

.sf-resp-singlelevel-drop .sf-main-menu.sf-style-none a {
	color:#ffffff;
}

.sf-menu.sf-accordion.sf-style-none {
	//background:$blue-mid;
		border-color:$blue-light;
		@include trailing-border(5px);
		padding:0;
		background:$blue-dark;
	li.first {
		a.sf-depth-1.menuparent {
			color:#ffffff;
		}
		a {
			color:#ffffff;
		}
	}
	a {
		@include rhythm(0,1,1,0);
	}
	a:hover {
		background:lighten($blue-mid,2%);
	}
	a.sf-depth-2:hover, a.sf-depth-3:hover {
		text-decoration: none;
	}
	li.sf-depth-1 {
		background:$blue-mid;
		a {
			padding-left:$vert-spacing-unit/2;
		}
	}
	li.sf-expanded {
		background:darken($blue-mid,5%);
		a {
			font-weight:400;
		}
		li a {
			background:darken($blue-mid,10%);
		}
		li a:hover {
			background:darken($blue-mid,7%);
		}
	}
	li.sf-clone-parent i {
		display: none;
	}
	li.sf-depth-2 ul {
		border-radius: none;
		li.first {
			@include border-radius(0);
		}
	}
	li.sf-depth-2 ul li {
		border-left:4px solid darken($blue-mid,20%);
		a {
			background:darken($blue-mid,13%);
		}
	}
	li.sf-depth-2 ul li.sf-clone-parent {
		border-left:none;
		a {
			background:darken($blue-mid,11%);
		}
	}
}

.sf-resp-singlelevel-drop .sf-main-menu.sf-style-none a {
	margin-right:0;
	
	@include breakpoint($tab,true) {
		margin-right:5px;
	}
	
	@include breakpoint($desk,true) {
		margin-right:25px;
	}
}
