/*
*	Footer Blocks
*	Styling of various footer blocks within one file rather than sepearate. 
*	For positioning css see _l-footer.scsss partial in components/layout-tweaks folder.
*	For styling of .social-icons button see _social-buttons.scss partial.
*
*	Address & Company info block:  	.footer-info
*	Footer Logo:					.footer-logo
*	Footer strapline:				.footer-strapline-text
*/


.l-footer-wrap {
	text-align: center;
	
	@include breakpoint($tab,true){text-align: left;}
}

.footer-info {
	
	//Font Styling
	@include adjust-font-size-to(13px);
	@include adjust-leading-to(0.9,13px);

}

.block-footer-logo {
	@include margin-trailer(1);
	
	@include breakpoint($tab,true){@include margin-trailer(0);}
}

.footer-strapline-text {
	
	//Font Styling
	@include adjust-font-size-to(11px);
	@include adjust-leading-to(0.9,11px);
	
	text-align: center;
	
	@include breakpoint($tab,true){text-align: left;}

}


.l-footer-strapline {
	@include rhythm(0,1,0,0);

	.block--easy-social {
		float:none;
		
		@include breakpoint($tab,true){float:right;}
	}
	.footer-strapline-text {
		display: block;
		float:none;
		
		@include breakpoint($tab,true){float:left;}
	}
}