/*
*	Social Icons
*	Social icons rendered via Fontawesome. This file is mainly for 
*	colour variations and link styling.
*
*	Block: .block-social-icons
*/

//Icon Colours
//These are custom classes added to <i>, not Font awesome classes.
$fb-blue:		#3B5999;
$twitter-blue:	#30D8F0;
$youtube-red:	#FA0542;

//Block
.block-social-icons {
	
	
	i {
		//Apply ride margin
		margin-right:$vert-spacing-unit*0.3;	
	}
	
	//Icon Colours
	//Find these variables in _color.scss partial.
	.icon-fb-blue {color:$fb-blue;}
	.icon-twitter-blue {color:$twitter-blue;}
	.icon-youtube-red {color:$youtube-red;}
	
	//Icons within link
	a {
	//Link Styling
	text-decoration:none;
	
	//Apply Colours to links
	.icon-fb-blue {color:$fb-blue;}
	.icon-twitter-blue {color:$twitter-blue;}
	.icon-youtube-red {color:$youtube-red;}
	
	}
	
	//Icons within link Hovers
	a:hover {
	
		//Apply Colours to links
		.icon-fb-blue {color:darken($fb-blue,5%);}
		.icon-twitter-blue {color:darken($twitter-blue,10%);}
		.icon-youtube-red {color:darken($youtube-red,10%);}
	}
}